html {
    scroll-behavior: smooth ;
  }

@import url('https://fonts.googleapis.com/css?family=Montserrat');


body { font-family: 'Monserrat', sans-serif; }



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif ;

    /* z-index: 1;/ */    

}

body{
    height: 2000px;
}

.showcase{
    background:url("back.jpg") no-repeat center center/cover;
    background-attachment: fixed; 
    height: 500px;
    
    /* padding-bottom: 200px; */
}

 .box{
    float: left;
    padding-top: 90px;
    margin-left: -150px;
    /* width: 40%; */
    width: 40%;
    color: #fff;
}

.box .amm{
    font-size:40px;
    margin-left: 264px;
}  

.box-1 img{
    margin-top: 50px;
    margin-right: 200px;
    float: right;
    /* width: 25%; */
    width: 25%;
    border-radius: 50%;
    /* background-attachment: fixed; */  
} 
 @media (max-width:768px){
    .box-1 img{
      width:200px;
      margin-right: 120px !important;  
      margin-top: 10px !important;
      
        
    }
    .showcase{
        height: 900px;
    } 
   .box .head{
       margin-top: 140px !important;
       text-align: center;
       padding-left: -60px ;
   }
   .box p{
    display: none;
    }
  
} 
 .box .head {
    /* padding:0px 300px; */
    font-size: 80px;
    font-weight: bold;
    text-align: center;
    margin-left: 262px;

} 
  .box p{
    padding: 15px 0;
    font-size: 20px;

}   

/* @media (max-width:768px) and (min-width:425px){
    .box p{
        display: none;
    }
   .box .head{
        padding-top: 300px ;
        padding-left: 190px; */
        /* text-align: center; */
    /* }

} */
span{
    color:rgba(255, 255, 255, 0.527);
    font-size: 46px;
    
}  

.box-2{
    background: url('blur.jpg')no-repeat center center/cover;
    background-attachment: fixed;
    float: left;
    width: 50%;
    text-align: center;
    height:500px;
    background-color: rgba(0,0,0,0.69);
    color: white ;
}
.box-2 .l-large{
    font-size: 40px;
    padding-top: 40px;
    font-weight: bold;

    color: white;
}
.box-3{
    float: right;
    text-align: center;
    width: 50%;
    /* background-color: #222f3e; */
    /* background-color: #dcdde1; */
    color: #fff;
    height: 500px;
    background: url('img.jpg') center center/cover;
    background-attachment: fixed;

}

h6{
    color: #fff;
}
.box-3 .l-large{
    padding-top: 45px;
    /* color: white; */
    font-size: 40px;
    font-weight: bold;


}
.box-2 .para{
    margin: 10px;
    padding: 15px 70px;
    font-size: 20px;
    border: 1px solid #444;
    background-color: rgba(0,0,0,0.65);
}
.paragraph{
    text-align: left;
    padding: 10px 20px;
    font-size: 20px;

} 
.area{
    text-align: right;
}
.content-area{
    background-color: #333;

    /* background: url('img.jpg') center center/cover; */
    background-attachment: fixed;

    color: white; 
    height: 45s0vh;
}


.box-4{
float: left;
width: 33%;
padding: 50px;
}
.box-4 h2{
    margin:20px 130px;
    font-size: 40px;
    border-bottom:3px solid black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    
}

/* C language  */
.box-6{
    float: left;
    width: 33%;
    padding: 50px ;
     
    }
    .box-6 h2{
        margin:20px 92px;
        /* font-size: 40px; */
        border-bottom:3px solid black;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;

    
        
    }
.box-4 .box-5 , p{
    font-size: 20px;
    padding:  25px 40px;
}
.box-5{
    float: right;
    width: 33%;
    padding: 50px;
    

}
.box-5 h2{
    margin:  20px 153px;
    font-size: 40px;
    border-bottom:3px solid black;
    font-weight: bold;


}
.menu{
    /* background:url('downloads.jpg') no-repeat center center/cover; */
    background:url('images1.png') no-repeat center center/cover;
    border-radius: 50px;
    background-attachment: fixed;
    /* background-color: #f5f6fa; */
    /* background-image: linear-gradient(bottom); */
    height: 450px;
    margin: 0 0px;
    width: 100%;
    
    /* background-attachment: fixed; */
}
h6{
    font-size: 16px;
    padding: 10px;

}
.menu p{
    height: 200px;
    /* overflow: auto; */
    margin: 0 50px;
    color: white;
    border: 1px solid rgba(44, 36, 33, 0.993);
    /* background-color: rgba(44, 36, 33, 0.69); */
    background: url('img.jpg') center center/cover;
    background-attachment: fixed;


    
}
.box-9{
    float: left;
    width: 33%;
    padding: 50px;

}
.box-9 h2{
    margin:  20px 135px;
    border-bottom:3px solid black;
    font-weight: bold;


}
.box-7{
    float: right;
    width: 33.3%;
    padding: 50px 50px;
}
.box-7 h2{

    margin:  20px 21px;
    /* font-size: 44px; */
    border-bottom:3px solid black;
    padding-top: 60px;
    font-weight: bold;


}
.box-8{
    float: left;
    width: 33.3%;
    padding: 50px;
   
}
.box-8 h2{

    margin:  17px 95px;
    font-size: 44px;
    border-bottom:3px solid black;
    font-weight: bold;

}


.sec2{
    height: 950px;
}
.slideshow{
    /* margin-bottom: 20px; */
    width: 70%;
    height: 950px;
    position: absolute;
    background-size: 100% 100%;
    position: relative;
    /* top: 700px; */
    background: url('hom.jpg') no-repeat center center/cover;
    /* transform: translate(-50% 50%); */
    animation: slider 6s infinite linear;
}
@keyframes slider{
    0%{    background: url('hom.jpg') no-repeat center center/cover;
    }
    35%{    background: url('abt.jpg') no-repeat center center/cover;
    }
    75%{
        background: url('k.jpg') no-repeat center center/cover;

    }
}
.side{
    background: url('images1.png') no-repeat center center/cover;
    height: 950px;
    float: right;
    width: 30%;
   
}
.sidebar {
    
    height: 750px;
    /* text-align: center; */
    /* background-color: #333; */
    background: url('img.jpg') center center/cover;
    background-attachment: fixed;
    color: white;
    margin: 100px 20px;  
    /* margin-top: 200px; */
} 

.sidebar h1{
    padding-top: 120px;
    text-align: center;
    font-weight: bold;
}
.sidebar p{
    font-size: 25px;
}
.Testimonial{
    background: url("test2.jpg") no-repeat center center/cover;
    height: 720px;
    position: relative;
}
.test{
    position: absolute;
    color: white;
    width: 70%;
    text-align: center;
    padding-top: 250px;
    padding-left: 500px;
    font-size: 22px;
}
.test1{
    position: absolute;
    padding-top: 459px;
    color: #fff;
    padding-left: 640px;
    font-size: 23px;
}
.aams{
    position: absolute;
    padding-top: 150px;
    padding-left: 700px;
}

.form-wrap {
    font-family: 'Raleway', sans-serif;
    background:url('images1.png') no-repeat center center/cover;
    background-attachment: fixed;
    padding: 15px 25px;
    height: 1400px;
    color: #fff;
    /* margin-top: 12px; */
    /* text-align: center; */
    font-size: 20px;
}
.containers{
    background: url('img.jpg') center center/cover;
    background-attachment: fixed;
    height: 1270px;
    padding-top: 20px;
}
.form-wrap h1{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
.form-group{
    text-align: center;
    margin: 13px 0;
    font-size: 20px;
}

.form-wrap .form-group input {
    width: 50%;
    padding: 14px;
    border: #4444 1px solid;
    border-radius: 5px;
    margin-top: 5px;
}

.form-wrap .btn {
    width: 50%;
    display: block;
    margin-top: 36px;
    border: #4444 1px solid;

    border-radius: 30px;
    padding: 13px;
    outline: none;
    font-weight: bold;
    background: #44444444;
    color: #fff;
    cursor: pointer;
    margin-left: 340px;
    font-size: 22px;
}
.imp{
    margin-left: 343px;
    font-size: 24px;
}
textarea{
    padding: 14px;
    width: 66.7%;
    height: 180px;
    border-radius:10px ;
    border: #4444 1px solid;


}.textt{
    margin-left: 340px;
    margin-top: 20px;
    font-size: 24px;
}

/* footer{
    padding: 10px;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
} */

.gotopbtn{
    padding-top: 12px;
    position: fixed;
    width: 50px;
    height: 50px;
    background:#222;
    bottom: 40px;
    right: 50px;
    color:#fff;
    text-decoration: none;
    font-size: 22px;
    text-align: center;
    line-height: 50px;
    /* border-radius: 30px; */
    z-index: 1;

}

.box-14{
   width: 34%;
   height: 400px;
   float: left;
   font-size: 45px;
   padding-top:50px;
   margin-top: 50px;
   background: #111;
}

.box-11{
    width: 33%;
    float: right;
    font-size: 90px;
    padding: 20px;
    background: #111;
    margin-top: 50px;
    height: 400px;
}

.box-12{
    width: 33%;
    float: right;
    font-size: 40px;
    padding: 50px;
    background: #333;
    margin-top: 50px;
    height: 400px;
}
img{
    margin-left: -230px;
    margin-top: 10px;
}

.clr{
    clear: both !important;
}
footer {
    position: fixed;
    height: 18vh;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    background: rgba(0,0,0,0.9);
    color: #fff;
    text-align: center;
}
